    .card-container {
        width: 50%;
        height: 350px;
        background-size: cover;
        background-position: center;
        border-radius: 12px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        margin: 10px;
        position: relative;
        overflow: hidden;
    }
    
    .card-container h2 {
        margin: 0;
        font-size: 2rem;
        text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 50px;
        text-align: right;
        padding: 12px;
    }

    .destiny-container {
        display: flex;
        width: 100%;
    }

    .destiny-container > p {
        width: 50%;
        padding: 0 25px;
        line-height: 25px;
    }

    @media screen and (max-width: 600px) {
        .destiny-container {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }

        .card-container {
            width: 50%;
            height: 200px;
            background-size: cover;
            background-position: center;
        }

        .card-container > h2 {
            font-size: 20px
        }

        .destiny-container > p {
            width: 50%;
            padding: 0 25px;
            line-height: 25px;
        }
    }