@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.destinies {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destinies > h2 {
  font-size: 32px;
  color: #f05446;
  font-weight: bold;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.controls-container {
  display: flex;
  width: 100%;
  padding: 16px 0;
  justify-content: space-between;
  align-items: center;
}

.control-button {
  background-color: #f05446;
  font-size: 32px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 80%;
  padding: 8px 12px;
}
